/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid #dfdfdf;
}
.logo{
  width: 150px;
}
.nav-items > ul {
  display: flex;
  padding: 0px 20px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
}
.body {
  margin-top: 50px;
}
.container {
  padding: 10px;
  border: 1px solid #f2f2f2;
  margin: 10px;
  border-radius: 5px;
}
.container:hover {
  border: 1px solid #dfdfdf;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
.food-container {
  display: flex;
  flex-wrap: wrap;
}